*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Raleway", sans-serif;
}

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.title {
  padding: 1.3em;
  font-size: 2.7rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.section {
  scroll-margin-top: 90px;
}

.active {
  color: white;
  background-color: black;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 11;
}
nav .nav-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  z-index: 11;
}
nav .nav-container .logo {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
nav .nav-container .logo .fa-tree {
  width: 1.1em;
  fill: rgb(65, 65, 65);
  transition: fill 0.3s;
}
nav .nav-container .logo:hover > .fa-tree {
  fill: rgb(42, 222, 114);
}
nav .nav-container .logo span {
  padding-left: 0.9rem;
}
nav .nav-container .burger-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 6em;
  height: 100%;
  padding: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border 0.3s;
  cursor: pointer;
}
nav .nav-container .burger-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100%;
  transition: fill 0.3s;
}
nav .nav-container .burger-btn svg:hover {
  fill: rgb(42, 222, 114);
}
nav .nav-container .nav-desktop {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
nav .nav-container .nav-desktop__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.4em;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s, background-color 0.3s;
  z-index: 2;
}
nav .nav-container .nav-desktop__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgb(0, 0, 0);
  transition: height 0.3s;
  z-index: -2;
}
nav .nav-container .nav-desktop__link:hover::after {
  height: 100%;
}
nav .nav-container .nav-desktop__link:hover {
  color: rgb(255, 255, 255);
}
nav .nav-container .nav-desktop__link--active::after {
  height: 100%;
}
nav .nav-container .nav-desktop__link--active {
  color: rgb(255, 255, 255);
}
nav .nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: url("../assets/svg/forest-nature-plants-trees-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-100%);
  z-index: 10;
}
nav .nav-mobile--active {
  transform: translateY(0);
  overflow: hidden;
}
nav .nav-mobile--animated {
  transition: transform 0.6s;
}
nav .nav-mobile a {
  margin: 1em;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
  transition: color 0.2s, scale 0.2s;
}
nav .nav-mobile a:hover {
  color: rgb(42, 222, 114);
  scale: 1.1;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  color: rgb(255, 255, 255);
  background-image: url("../assets/img/jungle-small.jpg");
  background-position: center;
  background-size: cover;
}
.header__paragraph, .header__title {
  margin-right: 20px;
  margin-left: 8%;
  z-index: 2;
}
.header__paragraph {
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.header__title {
  font-size: 2.7rem;
}
.header__hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.aboutus__container {
  display: flex;
  flex-direction: column;
}
.aboutus__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}
.aboutus__img img {
  width: 100%;
  max-width: 500px;
  max-height: 100%;
}
.aboutus__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}
.aboutus__title {
  margin-bottom: 0.5em;
  padding: 0.3em;
  font-size: 2.2rem;
}
.aboutus__text {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  margin-top: 1.5em;
  text-align: center;
  background-image: url("../assets/img/girl-small.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner__title {
  padding: 1.3em;
  margin: 2em;
  font-size: 2.3rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  z-index: 2;
}
.banner__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.offers__paragraph {
  justify-content: center;
  margin-bottom: 1.1em;
  font-size: 1.65rem;
  text-align: center;
}
.offers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5em;
}
.offers__card {
  width: 100%;
  max-width: 300px;
  padding: 0.5em;
  margin: 1.5em;
  text-align: center;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(182, 182, 182);
}
.offers__card-title {
  padding: 0.5em 0;
  font-size: 2.5rem;
}
.offers__card-price {
  padding-bottom: 0.5em;
  margin-bottom: 0.4em;
  font-size: 3rem;
  font-weight: 600;
}
.offers__card-option-in, .offers__card-option-out {
  display: inline-block;
  width: 200px;
  font-size: 1.3rem;
  text-align: left;
}
.offers__card-option-out {
  color: grey;
}
.offers__card-btn {
  padding: 0.5em 3em;
  margin: 1em 0 1.5em 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(182, 182, 182);
  transition: background-color 0.3s;
}
.offers__card-btn:hover {
  background-color: rgb(42, 222, 114);
  border: 1px solid rgb(42, 222, 114);
  box-shadow: 0px 5px 10px rgb(42, 222, 114);
}
.offers .fa-solid {
  width: 1em;
  height: 1em;
  margin-left: -10px;
  margin-right: 10px;
}
.offers .fa-check {
  filter: brightness(0) saturate(100%) invert(69%) sepia(49%) saturate(666%) hue-rotate(88deg) brightness(95%) contrast(92%);
}
.offers .fa-minus {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6083%) hue-rotate(59deg) brightness(83%) contrast(93%);
}
.offers .offers__more-btn {
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 1em 2em;
  margin: 2em auto;
  font-size: 1.7rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 222, 114);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.offers .offers__more-btn:hover {
  background-color: rgb(34, 180, 100);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.footer .footer-desktop,
.footer .footer-bottom {
  background-color: rgb(245, 245, 245);
}
.footer .footer-bottom {
  padding: 2em;
  font-size: 1.1rem;
  text-align: center;
}
.footer .footer-desktop {
  display: none;
}
.footer .footer-desktop__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  line-height: 2;
}
.footer .footer-desktop__logo {
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 4rem;
}
.footer .footer-desktop__logo .fa-tree {
  width: 1.15em;
  fill: rgb(65, 65, 65);
  transition: fill 0.3s;
}
.footer .footer-desktop__logo span {
  padding-left: 0.5em;
}
.footer .footer-desktop__info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 3.5em;
}
.footer .footer-desktop__box {
  padding: 2.5em;
}
.footer .footer-desktop__info-heading {
  font-size: 1.7rem;
}
.footer .footer-desktop li {
  font-size: 1rem;
  list-style: none;
}
.footer .footer-bottom {
  border-top: 1px solid rgb(0, 0, 0);
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 1em;
}
.contact__map {
  display: flex;
  justify-content: center;
  min-width: 80%;
  min-height: 300px;
  padding: 1em;
}
.contact__map iframe {
  width: 100%;
  max-width: 700px;
  height: 100%;
  min-height: 300px;
  border: 1px solid grey;
  border-radius: 5px;
}
.contact__map, .contact__form {
  flex: 1;
}
.contact__form {
  width: 70%;
  min-width: 250px;
  padding: 0.5em;
  font-size: 1.5rem;
  text-align: center;
}
.contact__form label {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.contact__form input:focus,
.contact__form textarea:focus {
  outline: 2px solid rgb(42, 222, 114);
  background-color: rgba(42, 222, 114, 0.03);
}
.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 0.8em;
  font-size: 1.1rem;
  border: 1px solid grey;
  border-radius: 5px;
}
.contact__form textarea {
  min-height: 150px;
  max-height: 350px;
  resize: vertical;
}
.contact__form-btn--special {
  padding: 0.5em 3em;
  margin: 1em 0 1.5em 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(182, 182, 182);
  transition: background-color 0.3s;
}
.contact__form-btn--special:hover {
  background-color: rgb(42, 222, 114);
  border: 1px solid rgb(42, 222, 114);
  box-shadow: 0px 5px 10px rgb(42, 222, 114);
}

.offers-more__info {
  padding: 1em;
  margin: 0 1em 1em 1em;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid rgb(42, 222, 114);
}

@media (width >= 480px) {
  html {
    font-size: 62.5%;
  }
}
@media (width >= 768px) {
  html {
    font-size: 68.75%;
  }
  .nav {
    height: 95px;
  }
  .nav .nav-container .burger-btn {
    display: none;
  }
  .nav .nav-container .nav-desktop {
    display: flex;
  }
  .nav-mobile {
    display: none;
    visibility: hidden;
  }
  .header {
    height: 420px;
    background-image: url("../assets/img/jungle-mid.jpg");
  }
  .banner__title {
    margin: 0 4em;
  }
  .contact__container {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 1em;
  }
  .contact__map {
    order: 1;
    width: 50%;
    min-width: 50%;
    min-height: 400px;
  }
  .contact__map iframe {
    min-height: 100%;
    height: 450px;
  }
  .contact__form {
    order: 2;
    width: 50%;
  }
  .footer .footer-desktop {
    display: flex;
  }
}
@media (width >= 992px) {
  html {
    font-size: 75%;
  }
  .banner {
    height: 300px;
    background-image: url("../assets/img/girl-mid.jpg");
  }
  .banner__title {
    margin: 0 6em;
  }
  .aboutus__container {
    flex-direction: row;
  }
  .aboutus__img {
    position: relative;
    width: 50%;
  }
  .aboutus__img img {
    position: absolute;
    top: 0;
  }
  .aboutus__info {
    align-items: flex-start;
    width: 50%;
    padding: 0 0.5em;
    text-align: left;
  }
  .aboutus__title {
    padding: 0px;
  }
  .aboutus__text {
    line-height: 1.7;
  }
}
@media (width >= 1200px) {
  html {
    font-size: 81.25%;
  }
  .banner__title {
    margin: 0 8em;
  }
}
@media (width >= 1600px) {
  html {
    font-size: 87.5%;
  }
  .banner {
    background-image: url("../assets/img/girl-big.jpg");
  }
  .header {
    background-image: url("../assets/img/jungle-big.jpg");
  }
}/*# sourceMappingURL=style.css.map */