.no-scroll {
	position: fixed;
	width: 100%;
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
}

.title {
	padding: 1.3em;
	font-size: 2.7rem;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

.section {
	scroll-margin-top: 90px;
}

.active {
	color: white;
	background-color: black;
}