@use './reset' as *;
@use './layout' as *;
@use './colors' as c;
@use './media' as *;

// NAVIGATION
nav {
	position: sticky;
	top: 0;
	display: flex;
	width: 100%;
	height: 70px;
	background-color: white;
	border-bottom: 1px solid black;
	z-index: 11;

	.nav-container {
		position: relative;
		display: flex;

		.logo {
			display: flex;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 20px;
			height: 100%;

			transform: translateY(-50%);
			font-size: 3rem;
			color: c.$color-text;
			text-decoration: none;
			cursor: pointer;

			overflow: hidden;

			.fa-tree {
				width: 1.1em;
				fill: #414141;
				transition: fill 0.3s;
			}

			&:hover > .fa-tree {
				fill: c.$color-primary;
			}

			span {
				padding-left: 0.9rem;
			}
		}

		.burger-btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 6em;
			padding: 30px;
			border: 1px solid transparent;
			background-color: transparent;
			cursor: pointer;
			transition: border 0.3s;
			z-index: 100;

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 100%;
				transition: fill 0.3s;

				&:hover {
					fill: c.$color-primary;
				}
			}
		}

		.nav-desktop {
			// display: flex;
			display: none;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			height: 100%;

			background-color: white;

			a {
				padding: 1.4em;
				font-size: 2rem;
				text-decoration: none;
				color: c.$color-text;

				height: 100%;
				display: flex;
				align-items: center;

				transition: color 0.3s, background-color 0.3s;

				&:hover {
					background-color: black;
					color: white;
				}
			}
		}
	}

	.nav-mobile {
		position: fixed;
		width: 100%;
		height: 100vh;

		// top: 0;
		// left: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		transform: translateY(-100%);

		background-color: rgb(52, 85, 60);

		background-image: url('../assets/svg/forest-nature-woods-park-svgrepo-com.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		z-index: 10;

		&--active {
			transform: translateY(0);
			overflow: hidden;
		}

		&--animated {
			transition: transform 0.6s;
		}

		a {
			font-size: 2.8rem;
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			margin: 1em;
			transition: color 0.2s;
		}

		a:hover {
			color: rgb(0, 0, 0);
		}
	}
}

// HEADER
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 300px;
	background-image: url('../assets/img/jungle-small.jpg');
	background-position: center;
	background-size: cover;
	color: white;

	&__paragraph,
	&__title {
		margin-left: 8%;
		margin-right: 20px;
		z-index: 2;
	}

	&__paragraph {
		font-size: 2rem;
		margin-bottom: 0.5em;
	}

	&__title {
		font-size: 2.7rem;
	}

	&__hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
}

// ABOUT US SECTION
.aboutus {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__img {
		margin: 0 1em;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			max-width: 500px;
		}
	}

	&__info {
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__title {
		padding: 0.3em;
		margin-bottom: 0.5em;
		font-size: 2.2rem;
	}

	&__text {
		margin-bottom: 1em;
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 300;
	}
}

// BANNER SECTION
.banner {
	position: relative;
	width: 100%;
	height: 220px;
	margin-top: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url('../assets/img/girl-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	&__title {
		font-size: 2.3rem;
		padding: 1.3em;
		margin: 2em;
		border: 1px solid rgb(255, 255, 255);
		color: white;
		z-index: 2;
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
}

// OFFERS SECTION
.offers {
	&__paragraph {
		margin-bottom: 1.1em;
		font-size: 1.65rem;
		text-align: center;
		justify-content: center;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 2.5em;
	}

	&__card {
		width: 100%;
		max-width: 300px;

		padding: 0.5em;
		margin: 1.5em;

		border: 1px solid rgb(209, 209, 209);
		box-shadow: 0px 5px 10px rgb(182, 182, 182);
		border-radius: 10px;
		background-color: transparent;

		line-height: 1.5;

		text-align: center;
	}

	&__card-title {
		padding: 0.5em 0;
		font-size: 2.5rem;
	}
	&__card-price {
		padding-bottom: 0.5em;
		margin-bottom: 0.4em;
		font-size: 3rem;
		font-weight: 600;
	}

	&__card-option-in,
	&__card-option-out {
		font-size: 1.3rem;
		display: inline-block;
		width: 200px;
		text-align: left;
	}

	&__card-option-out {
		color: grey;
	}

	&__card-btn {
		font-size: 1.5rem;
		padding: 0.5em 3em;
		margin: 1em 0 1.5em 0;

		border: 1px solid grey;
		border-radius: 10px;
		border: 1px solid rgb(209, 209, 209);
		box-shadow: 0px 5px 10px rgb(182, 182, 182);

		background-color: transparent;
		text-align: center;
		font-weight: 300;
		transition: background-color 0.3s;

		&:hover {
			border: 1px solid rgb(42, 222, 114);
			box-shadow: 0px 5px 10px rgb(42, 222, 114);
			background-color: rgb(42, 222, 114);
		}
	}

	.fa-solid {
		width: 1em;
		height: 1em;
		margin-left: -10px;
		margin-right: 10px;
	}
	.fa-check {
		filter: brightness(0) saturate(100%) invert(69%) sepia(49%) saturate(666%) hue-rotate(88deg) brightness(95%)
			contrast(92%);
	}
	.fa-minus {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6083%) hue-rotate(59deg) brightness(83%)
			contrast(93%);
	}

	.offers__more-btn {
		display: block;
		width: max-content;
		margin: 2em auto;
		padding: 1em 2em;
		font-size: 1.7rem;
		text-decoration: none;
		color: white;
		background-color: rgb(42, 222, 114);
		border-radius: 8px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
		text-align: center;
	}

	.offers__more-btn:hover {
		background-color: rgb(34, 180, 100);
		transform: translateY(-2px);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
	}
}

// FOOTER
.footer {
	.footer-desktop,
	.footer-bottom {
		background-color: rgb(245, 245, 245);
	}

	.footer-bottom {
		padding: 2em;
		text-align: center;
		font-size: 1.1rem;
	}
	.footer-desktop {
		display: none;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;

			line-height: 2;
		}

		&__logo {
			display: flex;
			align-items: center;
			font-size: 4rem;
			padding: 1em;

			.fa-tree {
				width: 1.15em;
				fill: #414141;
				transition: fill 0.3s;
			}

			span {
				padding-left: 0.5em;
			}
		}

		&__info {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-right: 3.5em;
		}

		&__box {
			padding: 2.5em;
		}

		&__info-heading {
			font-size: 1.7rem;
		}

		li {
			font-size: 1rem;
			list-style: none;
		}
	}

	.footer-bottom {
		border-top: 1px solid black;
	}
}

// CONTACT SECTION
.contact {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
		margin-bottom: 1em;
	}

	&__map {
		display: flex;
		justify-content: center;

		min-width: 80%;

		padding: 1em;

		min-height: 300px;

		iframe {
			width: 100%;
			height: 100%;
			max-width: 700px;
			min-height: 300px;
			border: 1px solid grey;
			border-radius: 5px;
		}
	}

	&__map,
	&__form {
		flex: 1;
	}

	&__form {
		width: 70%;
		min-width: 250px;
		padding: 0.5em;

		font-size: 1.5rem;

		text-align: center;

		label {
			display: flex;
			justify-content: center;
			padding: 0.5em;
		}

		input,
		textarea {
			padding: 0.8em;
			width: 100%;

			border: 1px solid grey;
			border-radius: 5px;
		}

		textarea {
			min-height: 150px;
			resize: vertical;
			max-height: 300px;
		}

		&-btn--special {
			font-size: 1.5rem;
			padding: 0.5em 3em;
			margin: 1em 0 1.5em 0;

			border: 1px solid grey;
			border-radius: 10px;
			border: 1px solid rgb(209, 209, 209);
			box-shadow: 0px 5px 10px rgb(182, 182, 182);

			background-color: transparent;
			text-align: center;
			font-weight: 300;
			transition: background-color 0.3s;

			&:hover {
				border: 1px solid c.$color-primary;
				box-shadow: 0px 5px 10px c.$color-primary;
				background-color: c.$color-primary;
			}
		}
	}
}

// OFFERS
.offers-more {
	&__info {
		padding: 1em;
		margin: 0 1em 1em 1em;
		font-size: 1.5rem;
		text-align: center;
		border: 2px solid c.$color-primary;
	}
}

@include queries;
