// Base & Layout
@use './reset' as *;
@use './layout' as *;

// Variables & settings
@use './colors' as c;
@use './media' as *;

// NAVIGATION
nav {
	position: sticky;
	top: 0;
	display: flex;
	width: 100%;
	height: 70px;
	background-color: c.$light;
	border-bottom: 1px solid c.$dark;
	z-index: 11;

	.nav-container {
		position: relative;
		background-color: c.$light;
		z-index: 11;

		.logo {
			position: absolute;
			top: 50%;
			left: 1em;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 3rem;
			color: c.$dark;
			text-decoration: none;
			cursor: pointer;
			overflow: hidden;

			.fa-tree {
				width: 1.1em;
				fill: c.$dark2;
				transition: fill 0.3s;
			}

			&:hover > .fa-tree {
				fill: c.$color-primary;
			}

			span {
				padding-left: 0.9rem;
			}
		}

		.burger-btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 6em;
			height: 100%;
			padding: 30px;
			background-color: transparent;
			border: 1px solid transparent;
			transition: border 0.3s;
			cursor: pointer;

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 100%;
				transition: fill 0.3s;

				&:hover {
					fill: c.$color-primary;
				}
			}
		}

		.nav-desktop {
			display: none;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: c.$light;

			&__link {
				position: relative;
				display: flex;
				align-items: center;
				height: 100%;
				padding: 1.4em;
				font-size: 2rem;
				text-decoration: none;
				color: c.$dark;
				transition: color 0.3s, background-color 0.3s;
				z-index: 2;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 0;
					background-color: c.$dark;
					transition: height 0.3s;
					z-index: -2;
				}

				&:hover::after {
					height: 100%;
				}

				&:hover {
					color: c.$light;
				}

				&--active::after {
					height: 100%;
				}
				&--active {
					color: c.$light;
				}
			}
		}
	}

	.nav-mobile {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		background-color: c.$light;
		background-image: url('../assets/svg/forest-nature-plants-trees-svgrepo-com.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		transform: translateY(-100%);
		z-index: 10;

		&--active {
			transform: translateY(0);
			overflow: hidden;
		}

		&--animated {
			transition: transform 0.6s;
		}

		a {
			margin: 1em;
			font-size: 2.8rem;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 1.5px;
			color: c.$dark;
			transition: color 0.2s, scale 0.2s;
		}

		a:hover {
			color: c.$color-primary;
			scale: 1.1;
		}
	}
}

// HEADER
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 300px;
	color: c.$light;
	background-image: url('../assets/img/jungle-small.jpg');
	background-position: center;
	background-size: cover;

	&__paragraph,
	&__title {
		margin-right: 20px;
		margin-left: 8%;
		z-index: 2;
	}

	&__paragraph {
		margin-bottom: 0.5em;
		font-size: 2rem;
	}

	&__title {
		font-size: 2.7rem;
	}

	&__hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
}

// ABOUT US SECTION
.aboutus {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 1em;

		img {
			width: 100%;
			max-width: 500px;
			max-height: 100%;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		text-align: center;
	}

	&__title {
		margin-bottom: 0.5em;
		padding: 0.3em;
		font-size: 2.2rem;
	}

	&__text {
		margin-bottom: 1em;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
	}
}

// BANNER SECTION
.banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 220px;
	margin-top: 1.5em;
	text-align: center;
	background-image: url('../assets/img/girl-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	&__title {
		padding: 1.3em;
		margin: 2em;
		font-size: 2.3rem;
		color: c.$light;
		border: 1px solid rgb(255, 255, 255);
		z-index: 2;
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
}

// OFFERS SECTION
.offers {
	&__paragraph {
		justify-content: center;
		margin-bottom: 1.1em;
		font-size: 1.65rem;
		text-align: center;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 2.5em;
	}

	&__card {
		width: 100%;
		max-width: 300px;
		padding: 0.5em;
		margin: 1.5em;
		text-align: center;
		line-height: 1.5;
		background-color: transparent;
		border: 1px solid rgb(209, 209, 209);
		border-radius: 10px;
		box-shadow: 0px 5px 10px rgb(182, 182, 182);
	}

	&__card-title {
		padding: 0.5em 0;
		font-size: 2.5rem;
	}
	&__card-price {
		padding-bottom: 0.5em;
		margin-bottom: 0.4em;
		font-size: 3rem;
		font-weight: 600;
	}

	&__card-option-in,
	&__card-option-out {
		display: inline-block;
		width: 200px;
		font-size: 1.3rem;
		text-align: left;
	}

	&__card-option-out {
		color: grey;
	}

	&__card-btn {
		padding: 0.5em 3em;
		margin: 1em 0 1.5em 0;
		font-size: 1.5rem;
		font-weight: 300;
		text-align: center;
		background-color: transparent;
		border: 1px solid rgb(209, 209, 209);
		border-radius: 10px;
		box-shadow: 0px 5px 10px rgb(182, 182, 182);
		transition: background-color 0.3s;

		&:hover {
			background-color: rgb(42, 222, 114);
			border: 1px solid rgb(42, 222, 114);
			box-shadow: 0px 5px 10px rgb(42, 222, 114);
		}
	}

	.fa-solid {
		width: 1em;
		height: 1em;
		margin-left: -10px;
		margin-right: 10px;
	}
	.fa-check {
		filter: brightness(0) saturate(100%) invert(69%) sepia(49%) saturate(666%) hue-rotate(88deg) brightness(95%)
			contrast(92%);
	}
	.fa-minus {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6083%) hue-rotate(59deg) brightness(83%)
			contrast(93%);
	}

	.offers__more-btn {
		display: block;
		width: max-content;
		padding: 1em 2em;
		margin: 2em auto;
		font-size: 1.7rem;
		text-align: center;
		text-decoration: none;
		color: c.$light;
		background-color: rgb(42, 222, 114);
		border-radius: 8px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
	}

	.offers__more-btn:hover {
		background-color: rgb(34, 180, 100);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
		transform: translateY(-2px);
	}
}

// FOOTER
.footer {
	.footer-desktop,
	.footer-bottom {
		background-color: rgb(245, 245, 245);
	}

	.footer-bottom {
		padding: 2em;
		font-size: 1.1rem;
		text-align: center;
	}
	.footer-desktop {
		display: none;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			line-height: 2;
		}

		&__logo {
			display: flex;
			align-items: center;
			padding: 1em;
			font-size: 4rem;

			.fa-tree {
				width: 1.15em;
				fill: c.$dark2;
				transition: fill 0.3s;
			}

			span {
				padding-left: 0.5em;
			}
		}

		&__info {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-right: 3.5em;
		}

		&__box {
			padding: 2.5em;
		}

		&__info-heading {
			font-size: 1.7rem;
		}

		li {
			font-size: 1rem;
			list-style: none;
		}
	}

	.footer-bottom {
		border-top: 1px solid c.$dark;
	}
}

// CONTACT SECTION
.contact {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
		margin-bottom: 1em;
	}

	&__map {
		display: flex;
		justify-content: center;
		min-width: 80%;
		min-height: 300px;
		padding: 1em;

		iframe {
			width: 100%;
			max-width: 700px;
			height: 100%;
			min-height: 300px;
			border: 1px solid grey;
			border-radius: 5px;
		}
	}

	&__map,
	&__form {
		flex: 1;
	}

	&__form {
		width: 70%;
		min-width: 250px;
		padding: 0.5em;
		font-size: 1.5rem;
		text-align: center;

		label {
			display: flex;
			justify-content: center;
			padding: 0.5em;
		}

		input,
		textarea {
			width: 100%;
			padding: 0.8em;
			border: 1px solid grey;
			border-radius: 5px;
		}

		textarea {
			min-height: 150px;
			max-height: 350px;
			resize: vertical;
		}

		&-btn--special {
			padding: 0.5em 3em;
			margin: 1em 0 1.5em 0;
			font-size: 1.5rem;
			font-weight: 300;
			text-align: center;
			background-color: transparent;
			border: 1px solid rgb(209, 209, 209);
			border-radius: 10px;
			box-shadow: 0px 5px 10px rgb(182, 182, 182);
			transition: background-color 0.3s;

			&:hover {
				background-color: c.$color-primary;
				border: 1px solid c.$color-primary;
				box-shadow: 0px 5px 10px c.$color-primary;
			}
		}
	}
}

// OFFERS
.offers-more {
	&__info {
		padding: 1em;
		margin: 0 1em 1em 1em;
		font-size: 1.5rem;
		text-align: center;
		border: 2px solid c.$color-primary;
	}
}

@include queries;
